-
let profileItems=[
  {left:'First Name', right:'Last Name'},
  {left:'@Username', right:'Email Address'},
  {left:'Phone Number', right:'Nationality'}
  {left:'Country of Residence', right:'State/ City of Residence'}
  {left:'Timezone of Location'}
]
