section {
  background-color: #f0f4f7;
  position: relative;
}

.section {
  color: #999999;
  background-color: #fff;
  padding-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  &__edit {
    border-bottom: 0.25px solid #dedede;
    margin-left: 5rem;

    p {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0.5rem;
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        width: 4rem;
        height: 2px;
        opacity: 1;
        background-color: #fc2f70;
        transform: translateX(-50%);
      }
    }
  }
  &__profile {
    margin-top: 12rem;
    width: 50%;
    margin: 2rem auto;
  }
  &__profile-details {
    // max-width: 100%;
    background: #f0f4f7;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 250px;
    position: relative;

    .pen-image {
      position: absolute;
      top: 5%;
      right: 2%;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 5px 5px 25px rgba(184, 202, 211, 0.4);
      padding: 0.5rem;
    }
  }
  &__profile-picture {
    position: absolute;
    bottom: -20%;
    left: 45%;
    height: 6rem;
    width: 6rem;
    background-color: #f0f4f7;
    border: 5px solid white;
    border-radius: 50%;

    .pen-image {
      top: 65%;
      box-shadow: 5px 5px 25px rgba(184, 202, 211, 0.4);
    }
  }
  &__profile-form {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

    & .input-right,
    .input-left {
      width: 38%;
      border-bottom: 0.25px solid #dedede;
      padding-bottom: 0.5rem;
    }
  }
  &__profile-button {
    width: 50%;
    margin: 7rem auto;

    .button-secondary {
      width: 30%;
    }
  }
}

input[type="text"] {
  border: none;
  color: #999999;
  outline: none;
  font-size: 1rem;
  padding: 0.2rem;
}
.pen {
  .pen-image {
    position: absolute;
    top: 60%;
    right: 2%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    padding: 0.5rem;
    cursor: pointer;
  }
}

.pen:hover .tooltip {
  display: block;
}

select {
  appearance: none;
  border: none;
  border-bottom: 0.25px solid #dedede;
  outline: none;
  font-size: 1rem;
  // padding: 1rem;
  color: #999999;

  background-color: #fff;
  background: url(../img/arrow.svg);
  background-repeat: no-repeat, repeat;
  //please help with the sizing of this thing, the arrow's position changes on mobile
  background-position: right 0.7em top 30%, 0 0;
  background-size: 0.65em auto, 100%;
}

//tooltip
.tooltip {
  background-color: #fff;
  color: #999999;
  position: absolute;
  display: none;
  box-shadow: 0px 10px 20px rgba(184, 202, 211, 0.2);
  top: 5rem;
  left: 5rem;
  z-index: 1;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  width: 200%;
  height: rem-calc(50);

  p {
    padding: 1rem;
    margin-left: 1rem;
    opacity: 0.5;
    border-bottom: 0.25px solid #999999;
  }
  p:last-child() {
    border-bottom: none;
  }
}

//Media Queries
@media (max-width: 760px) {
  .header {
    padding: 2.5rem 2.5rem;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    height: 1rem;
  }
  .section__profile {
    width: 300px;
  }
  select {
    //please help with the sizing of this thing, the arrow's position changes on mobile
    background-position: right 0.7em top 85%, 0 0;
    background-size: 0.65em auto, 100%;
  }
  .section__profile-form .input-left,
  .section__profile-form .input-right {
    width: 100%;
    padding-top: 3rem;
    text-align: center;
  }
  .section__profile-form {
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
  }
  .input-left,
  .input-right {
    width: 100%;
  }
  .section__profile-picture {
    left: 50%;
    transform: translateX(-50%);
  }
  .section__edit p {
    left: 50%;
    transform: translateX(-50%);
  }
}
