html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./assets/css/app.css")
    title Conectar
  
  body
    header.header
      .header__logo
        img(src="assets/img/logo.svg", alt="")
      .header__nav
        ul.header__nav-items            
          li HOME
          li ABOUT
          li PRICING
        ul.header__nav-language
          li English
          li Putahs
        .header__nav-button 
          .button-primary classroom
      
    section
      .section
        .section__edit
          p EDIT PROFILE
        .section__profile
          .section__profile-details
          .section__profile-form
            .input-left First Name
            .input-right Last Name
          .section__profile-form
            .input-left @Username
            .input-right Email Address
          .section__profile-form
            .input-left Phone Number
            .input-right Nationality
          .section__profile-form
            .input-left Country of Residence
            .input-right State/ City of Residence
          .section__profile-form
            .input-left Timezone of Location
          .section__profile-button
            .button-secondary SAVE CHANGES  
      
      


          